<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest-india</title>
    
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>

  
<!-- Photo Grid -->
<div class="Rw"> 

    <div class="Col">
      <img src="https://www.w3schools.com/w3images/underwater.jpg">
      <img src="https://www.w3schools.com/w3images/ocean.jpg">
      <img src="https://www.w3schools.com/w3images/wedding.jpg">
      <img src="https://www.w3schools.com/w3images/mountainskies.jpg">
      <img src="https://www.w3schools.com/w3images/rocks.jpg">
      <img src="https://www.w3schools.com/w3images/underwater.jpg">
    </div> 
    <div class="Col">
      <img src="https://www.w3schools.com/w3images/wedding.jpg">
      <img src="https://www.w3schools.com/w3images/rocks.jpg">
      <img src="https://www.w3schools.com/w3images/falls2.jpg">
      <img src="https://www.w3schools.com/w3images/paris.jpg">
      <img src="https://www.w3schools.com/w3images/nature.jpg">
      <img src="https://www.w3schools.com/w3images/mist.jpg">
      <img src="https://www.w3schools.com/w3images/paris.jpg">
    </div> 
    <div class="Col">
      <img src="https://www.w3schools.com/w3images/underwater.jpg">
      <img src="https://www.w3schools.com/w3images/ocean.jpg">
      <img src="https://www.w3schools.com/w3images/wedding.jpg">
      <img src="https://www.w3schools.com/w3images/mountainskies.jpg">
      <img src="https://www.w3schools.com/w3images/rocks.jpg">
      <img src="https://www.w3schools.com/w3images/underwater.jpg">
    </div> 
    <div class="Col">
      <img src="https://www.w3schools.com/w3images/wedding.jpg">
      <img src="https://www.w3schools.com/w3images/rocks.jpg">
      <img src="https://www.w3schools.com/w3images/falls2.jpg">
      <img src="https://www.w3schools.com/w3images/paris.jpg">
      <img src="https://www.w3schools.com/w3images/nature.jpg">
      <img src="https://www.w3schools.com/w3images/mist.jpg">
      <img src="https://www.w3schools.com/w3images/paris.jpg">
    </div> 
  
  </div>
  
    
</body>
</html>