<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Pinterest-india</title>
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  
</head>
<body>
  <div class="container">
    <div class="content">
    
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Login To Your Accout</p>

      <% if (error.length > 0) { %>
        <div class="error-message">
          <%= error %>
        </div>
      <% } %>
   <form action="/login" method="post">

    <input type="text" name="username" placeholder="Name" class="detail" /><br />



    <input name="password" type="password" placeholder="Password" class="detail" />

      <input type="submit" class="btn int" value="Login" ></input>
   </form>

      <a href="/forgot">Forgot your password?</a>
<footer>
  
      <hr />
      <a href="/signup"> Not on Pinterest yet ? Sign Up</a>
</footer>
     

      
    </div>
  </div>


</body>
</html>